<%= form_for(@comment, html: { multipart: true }) do |f| %>
<%= render 'shared/error_messages', object: f.object%>

<div class="field">
  <span class="count">

  </span>
  <%= f.text_area :content, placeholder: "本文を入力してください"%>
</div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
