<% @user ||= current_user %>
<div class="stats">
  <a href="<%= users_path(@user) %>" >
    <strong id="microposts" class="stat">
      <%= @user.microposts.count %>
      </strong>
      件の投稿
      </a>
  <a href="<% following_user_path(@user) %>">
    <strong id="followings" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<% followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>


</div>
