@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins,variables,etc */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/*miscellaneous*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*universal*/

body{
  padding-top:60px;
  background-color: #EDEDED;
}
section{
  overflow:auto;
}
textarea{
  resize:vertical;
}
.center{
  text-align:center;
}
.center h1{
  margin-bottom:10px;
}

/*typography*/

h1,h2,h3,h4,h5{
  line-height:1;
}
h1{
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
}
h2{
  font-size:1.2em;
  letter-spacing:-1px;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
  color:#777;
}
p{
  font-size:1.1em;
  line-height:1.7em;
}

/*header*/
#logo{
  float:left;
  margin-right:10px;
  font-size:1.7em;
  letter-spacing:-1px;
  color:#6C747C;
  padding-top:9px;
  font-weight:bold;
}

.navbar{
  background-color:#fff;
}

#logo:hover{
  color:#2F3336;
  text-decoration:none;
}


footer{
  margin-top:45px;
  padding-top:5px;
  border-top:1px,solid;
  color:white;
}

/*footer*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
a {
  color: #555;
&:hover{
  color:#222;
}

}
small {
  float: left;
}

ul {
  float: right;
  list-style: none;
li {
  float: left;
  margin-left: 15px;
}
}
}

/* sidebar */
aside{
  section.user.info{
    margin-top:5px;
  }
  section{
    padding:10px 0px;
    margin-top:5px;
  &:first-child{
    border:0;
    padding-top:0;
  }
  span{
    display:block;
    margin-bottom:3px;
    line-height:1;
  }
    h1{
      font-size:1.4em;
      text-align:left;
      letter-spacing:-1px;
      margin-bottom:3px;
      margin-top:0px;
    }
  }
}
.gravatar{

}
.gravatar_edit{
  margin-top:15px;
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  margin-left: 5px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */
input,textarea,select.uneditable-input{
  border:1px solid black;
  width:100%;
  margin-bottom:15px;
  @include box_sizing;
}
input{
  height:auto !important;
}

#error_explanation{
  color:red;
  ul{
    color:red;
    margin:0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style:none;
  margin:0;
  li{
    overflow:auto;
    padding:10px, 0px;
    border-bottom:1px, solid, $gray-lighter;
  }
}

/*micropost*/


  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .current_user_image{
    margin:25px 0 0 20px;
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 20px;
    bottom: 0;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
  }
  .user-name{
    float:left;
    margin-top: 10px;
    margin-left:20px
  }
  .post-icon{
    margin:25px 0px 0px 20px;
  }
  .idea{
  float:left;
  width: 45%;
  height: 250px;
  margin: 0 5% 5% 0;
  border-bottom:2px solid #e7e4e2;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  position:relative;
  background-color:#fff;
  overflow: hidden;
  }

  .idea-info{
    float:left;
    width: 30%;
    height:100%;
    border-top-left-radius: 2px;

    font-size: 90%;
  }

  .idea-content{
        float:right;
        width: 70%;
        height: 100%;

  }

  .idea-text{
  margin:0px 0px 10px 10px;
  padding: 5px 15px 0 10px;
  font-size: 70%;
  word-break: break-all;
    h1{
    font-size:150%;
    margin-bottom: 10px;
  }
  }



aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.profile{
  background-color:#fff;
  padding:5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-top:52px;
}
.intro{
  font-size: 100%;
  text-align: left;
}
.intro-sub{
  font-size:80%;
  text-align: left;
}
.intro-text{
  text-align: left;
  font-size: 90%

}
.intro-text-sub{
  text-align: left;
  font-size: 70%
}

.user_info {
  list-style:none;
  text-align: left;
  padding-left: 90px;
}
.user_profile{
  list-style:none;
  text-align: left;
}
.user_info_sub{
  list-style:none;
  padding-left:0;

}
.user_image{
  position:absolute;
  left:23px;
}

.fa {
  float:left;
}

.main-visual {
  background-image: image-url("s_note.jpg");
  overflow: hidden;
      position: relative;
      height: 360px;
      text-align: center;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
}

.main-visual h1 {
  margin: 144px 0 5px;
    font-size: 350%;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color:black;
}

.main-visual h2 {
margin: 0 0 20px;
font-size: 120%;
font-weight: normal;
}


.read-more p {
  text-align:center;

}

.form-left{
  float: left;
  width: 50%;
}

.form-right {
    float: right;
    margin-left: 1%;
    width: 49%;
}

.idea-title{
  text-align: center;
}
.field{
  text-align: center;
}
.micropost_form h1{
  text-align: center;
  font-weight: bold;
}

.index{
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
